
<div class="barreorange">
</div>

<div>
  <% @guests.each do |guest| %>
    <%= guest.first_name %>
    <%= guest.last_name %>
    <%= guest.email %>
    <% survey = guest.surveys.where(event_id:@event.id).first %>
    <% if survey  %>
      <%=  link_to "edit form", edit_event_guest_survey_path(@event, guest, survey) %>
    <% end%>
  <% end%>
</div>

<div class="container">
<h1>here we need to put the form to add guest</h1>
<%= simple_form_for([@event, @guest]) do |f| %>
   <%= f.input :first_name %>
   <%= f.input :last_name %>
   <%= f.input :email %>
   <%= f.submit "create new guest" %>
<% end %>

</div>
<br>

<br>
<%= link_to 'Back', events_path %>
