<div>
    <h2>All guest and Allergy confirmed</h2>
</div>


<ul>
  <% @data.each do |data| %>
    <div>
      <%= data[0] %> - <%= data[1] %>
    </div>
  <% end %>
  <% @surveys.each do |survey| %>
    <li>
      <%= survey.guest.first_name %>  <%= survey.guest.last_name %>
    </div>
      <strong><%= survey.comment %></strong>
    </li>
  <% end %>
</ul>
