<div class="barreorange">
    <h1>
        <%= @event.title %>
    </h1>
</div>
<div class="container">
    <div class="event-info">
        <div class="carres-flex1">
            <div class="firstcarre">
                <%= image_tag("calendar.svg") %>
                <p>
                    <%= @event.date %>
                </p>
            </div>
            <div class="secondcarre">
                <%= image_tag("map.svg") %>
                <p>
                    <%= @event.address %>
                </p>
            </div>
        </div>
        <div class="carres-flex2">
            <div class="thirdcarre">
                <%= image_tag("people.svg") %>
                <p>
                    <%= @event.number_guest %> guests
                </p>
            </div>
            <div class="moreinfo">
                <%= link_to image_tag("stats.svg"),  event_preferences_path(@event.id), class:"show-events-btn" %>
                <p>
                    <%= link_to "More information about the guest survey", event_preferences_path(@event.id), class:"show-events-btn" %>
                </p>
            </div>
        </div>
        <div class="twolink">
            <div class="backtaille">
                <div class="back-btn">
                    <%= link_to"Back to events", events_path, class:"btn" %>
                </div>
            </div>
            <br>
            <div class="registertaille">
                <div class="back-btn">
                    <%= link_to"Register guests", new_event_guest_path(@event.id), class:"btn" %>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
