<div class="barreorange">
</div>
<div class="container">

<h1>show for event </h1>
<%= @event.title %>
<br>
<%= @event.address %>
<br>
<%= @event.date %>
<br>

 <br>


</div>
<%= link_to"back", events_path %>
<br>
<%= link_to"create a participant for this event", new_event_guest_path(@event.id) %>
<br>
<%= link_to"show result of form validate", event_preferences_path(@event.id) %>

